<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@700&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@1,700&display=swap');
        </style>
        
</head>
<body>
    <header>
        <nav class="menu--left" role="navigation">
    <div class="menuToggle">
      <input type="checkbox"/>
      <span></span>
      <span></span>
      <span></span>
      <ul class="menuItem">
        <li><a href="#">Account</a></li>
        <li><a href="#">Settings</a></li>
        <li><a href="#">History</a></li>
        <li><a href="#">Program</a></li>
        <li><a href="/templates/meditation.html">Yoga</a></li>
      </ul>
    </div>
  </nav>
    </header>
    

    <script>
        var stat = false;
        const socket = io.connect('http://' + document.domain + ':' + location.port);

        socket.on('motion_update', function(data) {
            const motionStatusElement = document.getElementById('motionStatus');
            motionStatusElement.textContent = data;
        });

        socket.on('count_update', function(data) {
           
            const countElement = document.getElementById('count');
            if (stat==true) {
                data = 0;
            }
            countElement.textContent = data;
            document.getElementById("footer").style.height = 4 * data + 'vw';
            stat=false;
        });

        function reset() {
            stat=true;
        }
    </script>
   
    <div id="lookgood" class="motivation">
        <h1>Mindful Motion</h1>
    </div>
    <div class="flex-container">
        <h1><span id="motionStatus">Begin Rep</span></h1>
        <h1>Rep count: <span id="count">0</span></h1>
        <!-- <button onclick="reset()"><h1>Reset</h1></button> -->
    </div>
    <div id="footer" class="ocean">
        <div class="wave"></div>
        <div class="wave"></div>
      </div>
</body>
</html>