<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@700&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@1,700&display=swap');
        </style>
        
</head>
</head>
</head>
<body>
    

    <script>
        const socket = io.connect('http://' + document.domain + ':' + location.port);

        socket.on('motion_update', function(data) {
            const motionStatusElement = document.getElementById('motionStatus');
            motionStatusElement.textContent = data.motion_detected ? 'on' : 'off';
        });

        socket.on('count_update', function(data) {
            const countElement = document.getElementById('count');
            countElement.textContent = data;
        });
    </script>
   <div class="flex-container">
    <div id="lookgood" class="motivation">
        <h1>MindfulMotion</h1>
    </div>
    <h1>Motion Detection Status: <span id="motionStatus">false</span></h1>
    <h1>Rep count: <span id="count">0</span></h1>
    </div>
    <div id="footer" class="ocean">
        <div class="wave"></div>
        <div class="wave"></div>
      </div>
</body>
</html>